$font: "Comic Sans MS", sans-serif;

@mixin user-select-drag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  @include user-select-drag();
  background-color: #eee;
  color: #333;
  font-family: $font;
}

p {
  margin-bottom: 3px;
  margin-top: 3px;
}

.meilkoptions {
  align-content: center;
  align-items: center;
  background-color: rgba(150, 150, 150, .5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.meilkoptionsmenu {
  background-color: #efefef;
  padding: 15px;
}

.closemenu {
  overflow: auto;
  position: relative;
  right: 0;
  text-align: right;
  top: 0;
}

.loadbutton {
  background-color: #eee697;
  border-color: #cb2;
  border-style: solid;
  border-width: 5px;
  font-family: $font;
  font-weight: bold;
  padding: 5px;
  position: relative;
  text-align: center;
}

.loadbutton:active {
  border-color: #b5a61e;
  background-color: #e8db6c;
}

.version {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-weight: bold;
  margin-left: 3px;
}

.savestatus {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  font-weight: bold;
  margin-right: 3px;
}

.shopitem {
  cursor: pointer;
}

.meilk {
  height: 170px;
  width: 170px;
  cursor: pointer;
}

.meilkarea {
  float: left;
  text-align: center;
  height: 256px;
  width: 256px;
  margin: 5%;
}

.meilkstats {
  font-size: 30px;
  font-weight: bold;
}

.mpcstats {
  font-size: 25px;
  font-weight: bold;
}

.mpsstats {
  @extend .mpcstats;
}

.shop {
  margin-top: 20px;
  margin-right: 5px;
  float: right;
}

.shopupgrades {
  list-style-type: none;

  li {
    width: 140px;
    border-width: 5px;
    border-style: solid;
    border-color: #cb2;
    background-color: #eee697;
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.shopitem1 {
  margin-left: 2px;
  font-weight: bold;
  font-size: 19px;
}

.shopitem2 {
  margin-left: 2px;
  font-weight: normal;
  font-size: 18px;
}
