/* Phones (landscape phones, 0px until 767px) */
@media (max-width: 767px) {
  .shopitem2 {
    font-size: 15px;
  }

  .meilkarea {
    height: 158px;
    margin: 3%;
    width: 158px;
  }

  .meilkstats {
    font-size: 22px;
  }

  .shopitem1, .mpcstats, .mpsstats {
    font-size: 16px;
  }

  .shopupgrades li {
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    margin-bottom: 5px;
    width: 130px;
  }

  .meilk {
    cursor: pointer;
    height: 120px;
    width: 120px;
  }

  .shop {
    margin-right: 3px;
    margin-top: 10px;
  }

  .version {
    font-size: 15px;
  }
}

/* Everything else */
@media (min-width: 768px) {
  .shopitem1 {
    font-size: 19px;
  }

  .shopitem2 {
    font-size: 18px;
  }

  .meilkarea {
    float: left;
    height: 256px;
    margin: 5%;
    text-align: center;
    width: 256px;
  }

  .meilkstats {
    font-size: 30px;
  }

  .mpcstats, .mpsstats {
    font-size: 25px;
  }

  .shopupgrades li {
    border-style: solid;
    border-width: 5px;
    font-size: 20px;
    margin-bottom: 5px;
    width: 140px;
  }

  .meilk {
    cursor: pointer;
    height: 170px;
    width: 170px;
  }

  .shop {
    margin-right: 5px;
    margin-top: 20px;
  }

  .version {
    font-size: 18px;
  }
}

:root {
  background-color: #eee;
  color: #333;
  font-family: "Comic Sans MS", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin-bottom: 3px;
  margin-top: 3px;
}

.meilkarea {
  float: left;
  text-align: center;
}

.meilkoptions {
  align-content: center;
  align-items: center;
  background-color: rgba(150, 150, 150, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.meilkoptionsmenu {
  background-color: #efefef;
  padding: 15px;
}

.choosemenu {
  position: relative;
  left: 0;
  text-align: left;
  top: 0;
}

.closemenu {
  position: relative;
  right: 0;
  text-align: right;
  top: 0;
}

.loadbutton {
  background-color: #eee697;
  border-color: #cb2;
  border-style: solid;
  border-width: 5px;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
  padding: 5px;
  position: relative;
  text-align: center;
}

.loadbutton:active {
  background-color: #e8db6c;
  border-color: #b5a61e;
}

.version {
  bottom: 0;
  font-weight: bold;
  left: 0;
  margin-left: 3px;
  position: absolute;
}

.savestatus {
  bottom: 0;
  font-size: 18px;
  font-weight: bold;
  margin-right: 3px;
  position: absolute;
  right: 0;
}

.shopitem {
  cursor: pointer;
}

.meilkstats {
  font-weight: bold;
}

.mpcstats, .mpsstats {
  font-weight: bold;
}

.shop {
  float: right;
}

.shopupgrades {
  list-style-type: none;
}

.shopupgrades li {
  background-color: #eee697;
  border-color: #cb2;
}

.shopitem1 {
  font-weight: bold;
  margin-left: 2px;
}

.shopitem2 {
  font-weight: normal;
  margin-left: 2px;
}
